.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0 10px;
  font-size: 1.4rem;

  &__item {
    margin: 0 4px;

    &--active {
      background: var(--color-priamry);
    
      & span {
        display: flex;
        color: var(--color-white);
      }
    }

    & span {
      border: 1px solid var(--color-primary);
      border-radius: 50%;
      display: flex;
        align-items: center;
        justify-content: center;
      font-size: 1.4rem;
      font-weight: 700;
      width: 50px;
      height: 50px;
    }

    a {
      &:hover span {
        background: var(--color-primary);
        border: 1px solid var(--color-primary);
        color: var(--color-white);
      }
    }
  }
}

.pagination--counter {
  font-size: 1.2rem;
  text-align: center;
}